.group{
            display:flex;
            margin:10px 50px;
            gap:20px;
}
.circle,.square{
  width:90px; height:90px;
  display:flex; align-items:center; justify-content:center;
  font-size: 15px;
  color:#222;
  background:#f3f3f3;
  border:3px solid #222;
}
.squa{
  height:100px;
  width:100px;
  display:flex;
  background-color: #f3f3f3;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  margin-left:150px;
}
.circle{ border-radius:50%; }
.square{ border-radius:12px; }
.layou{
  display: flex;
  flex-direction: column;
  gap:20px;   
  align-items: center;margin-top:-300px;
    margin-left:-440px;
}
.layout{
  display: flex;
  flex-direction: column;
  gap:20px;
  align-items: center;
  margin-top:-300px;
  margin-left:-150px;
}
.circles{
  width:90px;
  height:90px;
  background-color: aliceblue;
  border-radius: 50%;
  border:3px solid black;
 margin-left:300px;
  margin-top:-112px;
}
.row{
  display: flex;
    gap:20px;
}
.circle2{
  width:80px;
  height: 80px;
  background-color: aliceblue;
  border-radius: 50%;
}
.square2{
  width:80px;
  height: 80px;
  background-color: aliceblue;
  border-radius: 10px;
  align-items: center;
  font-size: 15px;
}
.layout1{
  display: flex;
  flex-direction: column;
  gap:20px;
  align-items: center;
  margin-top:-280px;
  margin-left: 350px;;
   align-items:center; justify-content:center;
  font-size: 15px;
}
.layout2{
  display: flex;
  flex-direction: column;
  gap:20px;
  align-items: center;
  margin-top:-280px;
  margin-left: 1000px;;
}
.square3{
  background-color: #f3f3f3;
  HEIGHT:100px;
  width:100px;
  font-size: 20px;
  text-align: center;
  border-radius: 18px;
}
.row2{
   display: flex;
    gap:153px;
    margin-top:-98px;
}
